<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://www.google.com/recaptcha/api.js" async></script>
    <script
      async
      src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    ></script>
    <script async type="module" src="/js/firebase.js"></script>
    <script async type="module" src="/js/firestore.js"></script>
    <script async type="module" src="/js/index.js"></script>
    <title>App</title>
  </head>
  <body>
    <div class="container">
      <h1>Sign In</h1>
      <form id="phone_auth">
        <label>
          <input
            id="user_number"
            type="tel"
            placeholder="Please enter your number"
            style="width: 200px"
            required
          />
        </label>
        <button id="send_button">Send</button>
        <div id="recaptcha-container" class="reCaptcha"></div>
      </form>
      <div class="confirmation_box" style="display: none">
        <form id="confirm_form">
          <label>
            <input
              type="text"
              class="confirmation_code"
              placeholder="Enter confirmation code"
            />
          </label>
          <button id="confirm">Confrim</button>
        </form>
      </div>
    </div>
  </body>
</html>
