* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to right, #8e2de2, 70%, #4a00e0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  /* background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); */
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

h1 {
  font-family: sans-serif;
  margin-top: 30px;
}

form {
  display: flex;
  height: 200px;
  flex-direction: column;
  padding: 15px;
  margin: 0 30px;
  margin-top: 40px;
}

input {
  width: 200px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: solid 1px white;
}

input::placeholder {
  color: white;
}

input:focus {
  color: white;
  background-color: transparent;
}

button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  background-color: grey;
  border: none;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
}

.confirmation_box {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 15px;
}

.reCaptcha {
  margin-top: 15px;
}
